*~

.build/

binary.modified_timestamps
binary/

cache/

chroot.files
chroot.packages.install
chroot.packages.live
chroot/

config/binary
config/bootstrap
config/chroot
config/common
config/source
config/includes.binary/celleos2_brukermanual.pdf
config/includes.binary/celleos_build_date
config/includes.chroot_after_packages/opt/geogebra
config/includes.chroot_after_packages/usr/share/pixmaps/geogebra.png
config/packages.chroot/*

live-image-amd64.contents
live-image-amd64.files
live-image-amd64.hybrid.iso
live-image-amd64.hybrid.iso.zsync
live-image-amd64.packages

config/hooks/live/0010-disable-kexec-tools.hook.chroot
config/hooks/live/0050-disable-sysvinit-tmpfs.hook.chroot
config/hooks/normal/
config/package-lists/live.list.chroot

brukermanual/celleos2_brukermanual.dvi
brukermanual/celleos2_brukermanual.log
brukermanual/celleos2_brukermanual.pdf
brukermanual/celleos2_brukermanual.ps*

config/includes.chroot_after_packages/root/celleos_build_date