#_preseed_V1

# man kan få vite hva som ble valgt under installasjonen ved å skrive:
# debconf-get-selections --installer

# Det finnes også denne gode siden om preseeding:
# https://preseed.debian.net/debian-preseed/

# Partman early commands:
# * First set the variable partman-auto/disk to the first non-removable disk on the machine (usually /dev/sda or /dev/nvme0).
# * Then, umount all partitions on that disk. (For some reason, the EFI System Partition (ESP) tends to get mounted at some point before the partitioning step. Mounted partitions break the partitioning step.)
d-i partman/early_command string debconf-set partman-auto/disk "$(list-devices disk | while read device_name ; do if [[ $(cat /sys/block/$(basename $device_name)/removable) -eq 0 ]] ; then echo "$device_name" ; fi ; done | head -n1)" ; for d in $(ls "$(list-devices disk | while read device_name ; do if [[ $(cat /sys/block/$(basename $device_name)/removable) -eq 0 ]] ; then echo "$device_name" ; fi ; done | head -n1)"?*) ; do umount $d ; done || true

# Preseeding only locale sets language, country and locale
d-i debian-installer/locale select nb_NO.UTF-8
# Installer engelsk, for de som ønsker det. Nynorsk oversetting er dessverre ganske mangelfull.
d-i localechooser/supported-locales multiselect en_US.UTF-8
# Norsk tastatur:
d-i keyboard-configuration/xkb-keymap select no

# Disable networking during installation. May make install faster.
d-i netcfg/enable boolean false

# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.
d-i netcfg/get_hostname string celleos

# Choose not to use a mirror during installation.
d-i apt-setup/use_mirror boolean false

# User accounts (Password for 'elev' account will be removed later. see below).
d-i passwd/user-fullname string Elev
d-i passwd/username string elev
d-i passwd/user-password password skole
d-i passwd/user-password-again password skole

# Partitioning:
# partman-auto/disk ble satt øverst i fila da i en partman/early-command..
#d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true

### Description: for internal use; can be preseeded
#   Cap RAM size to specified size in MB, when calculating the swap
#   partition size. Defaults to 1024, meaning 1GB, and since swap is
#   maximum 200% of RAM in the default recipes, it results in swap
#   partitions to be capped at 2GB. To revert to previous behaviour of
#   uncapped swap size with respect to available ram, preseed this key to
#   any string, e.g. partman-auto/cap-ram=false
# Ser ikke ut til å fungere. cap-ram må settes som parameter i oppstarten
#   i filene: * config/bootloaders/isolinux/menu.cfg (for BIOS boot)
#             * og i config/includes.binary/boot/grub/grub.cfg (for UEFI boot)
#partman-auto/cap-ram string 16384

# Ifølge noenlunde pålitelige forumposter er dette algoritmen
# som brukes for å tildele diskplass til de ulike partisjonene
# basert på minimum, prioriet og maksimum størrelse som angis
# i preseed.cfg:
#
#    for(i=1;i<=N;i++) {
#      factor[i] = priority[i] - min[i];
#    }
#    ready = FALSE;
#    while (! ready) {
#      minsum = min[1] + min[2] + ... + min[N];
#      factsum = factor[1] + factor[2] + ... + factor[N];
#      ready = TRUE;
#      for(i=1;i<=N;i++) {
#        x = min[i] + (free_space - minsum) * factor[i] / factsum;
#        if (x > max[i])
#          x = max[i];
#        if (x != min[i]) {
#          ready = FALSE;
#          min[i] = x;
#        }
#      }
#    }

# Creation of EFI System Partition (ESP) is described here:
# https://www.debian.org/releases/stable/example-preseed.txt

d-i partman-auto/expert_recipe string \
  atomic-improved :: \
  256 256 256 fat32 \
    $iflabel{ gpt } \
    $primary{ } \
    $bootable{ } \
    method{ efi } \
    format{ } . \
  30000 30256 -1 ext4 \
    $primary{ } \
    $bootable{ } \
    method{ format } \
    format{ } \
    use_filesystem{ } \
    filesystem{ ext4 } \
    mountpoint{ / } . \
  512 1024 200% linux-swap \
    $primary{ } \
    method{ swap } \
    format{ } .

d-i partman-auto/choose_recipe select atomic-improved

# for å preseede seg forbi spørsmålet om "tving uefi-installasjon"
# som kommer opp hvis det er et OS der fra før som ikke er UEFI
d-i partman-efi/non_efi_system boolean true

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Skip questions regarding writing of MBR:
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# Late commands: Remove password for 'elev' user and replace sources.list and more:
d-i preseed/late_command string in-target passwd -u -d elev; in-target /sbin/usermod -G cdrom,audio elev; in-target chmod +x /etc/network/if-pre-up.d/iptables; in-target mv /etc/grub.d/10_linux.nopasswdbootfirstentry /etc/grub.d/10_linux; in-target chmod 700 /etc/grub.d/45_celleos_security; in-target update-grub2; in-target dconf update; in-target mv /etc/apt/sources.list.ftp-no /etc/apt/sources.list
